<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        /* Add custom classes and styles that you want inlined here */
    </style>
</head>
<body class="bg-light">
<div class="container">
    <div class="card my-10">
        <div class="card-body">
            <header>
                <h1>DEAVENSOFT DOO</h1>
                <a href="https://deavensoft.com" target="_blank">www.deavensoft.com </a>
                    <img src="https://media-exp2.licdn.com/dms/image/C560BAQEENrRFv2q2VQ/company-logo_200_200/0/1567678667763?e=2147483647&v=beta&t=NL3rkGey-NBw_-oEZClCoQrUQ-Wj2QNKtbjt7mJdAEU">
                    <hr>
            </header>
            <div class="space-y-3">
                <p class="text-gray-700">
                    ${msgBody}
                </p>

            </div>
            <hr>
        </div>
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-dark" href="https://deavensoft.com/">Deavensoft</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</div>
</body>
</html>
